.grid-planet {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    max-width: 1152px;
}

.card-planet {
    padding: 20px;
    background-color: #f0f0f0;
    opacity: 0.9;
    border-radius: 12px;
    border: solid 3px yellow;
    width: 500px;
    margin: 14px;
  }
